html {
 font: normal 100% Georgia, "Sigmar One";
}

header {
  text-align: center;
  padding: 1rem;
  margin: .3em;
  background-color: #ffe500;
  color: #cc1465;
  font: "Sigmar One";
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  line-height: 1.5;

}

nav {
  text-align: center;
  padding: 0 .75em;
  margin: 3em;
  color: #fff;
  font-size: 1.125rem;
  font: normal Georgia;
  font-family: serif;

}

.btn {
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #cc1465;
  border-radius: 4px;
  border: 0;
  color: #fff;
  text-decoration: none;
  font: normal Georgia;
  font-family: serif;

}

h2 {
  color: #cc1465;
  font-size: 1.875rem;
  font: "Sigmar One";
  font-family: 'Sigmar One', cursive;
}

footer {
  padding: 1rem;
  background-color: #ffe500;
  margin: .3em;
  text-align: center;

}

.current a:hover {
  background-color: #b20953;
}
